.card {
  border-radius: 15px;
  cursor: pointer;
}

.card img {
  border-radius: 15px 15px 0 0;
  transition: transform 0.2s ease-out; /* Smooth transition */
}

.card-title, .card-text {
  text-align: center;
}

/* Add this CSS for the hover effect */
.card img:hover {
  transform: scale(1.1); /* Zoom in by 10% */
}

/* CSS to position arrow buttons at the extreme left and right */
.modal-content {
  position: relative;
}

#lightboxPrev {
  position: absolute;
  top: 50%;
  left: 5px; /* Adjust the left position */
  transform: translateY(-50%);
}

#lightboxNext {
  position: absolute;
  top: 50%;
  right: 5px; /* Adjust the right position */
  transform: translateY(-50%);
}


